
.table-container {
  margin-top: 20px;
}

.table-container button {
  margin-right: 5px;
}

.address-container {
  margin-top: 20px;
}

.no-address-container {
  margin-top: 20px;
  text-align: center;
}
